@model CustomerAccountManagement.Models.vw客戶聯絡人及帳戶數量

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vw客戶聯絡人及帳戶數量</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
